<%
  success_title=['Hurrah!','Yippee!','Oh yes!','You rock!','Awesome!']
  success_message=['Yes, you got it right!',"Well done! That's right",'Brilliant!',"You're really good at this!"]
  pick_a_pup=['Chase','Rocky','Rubble','Skye','Zuma','Marshall']
	words=['zero','one','two','three','four','five','six','seven','eight','nine','ten','eleven','twelve','thirteen','fourteen','fifteen','sixteen','seventeen','eighteen','nineteen','twenty' ]
	numbers=(1..20).to_a.shuffle.take(3) 
	answer=(numbers.at(rand(0..2)))
 %>

<h1>&nbsp;</h1>
<!-- Wrong answer dialog box -->
<div class="modal fade" id="wrongModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Whoops!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
      	  <div class="col-md-6"><img src="/Marshall_oops.png" height="167"></div>
        	<div class="col-md-6">
        		<p style="vertical-align: middle;">That wasn't quite right. Have another go.</p>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Try again</button>
      </div>
    </div>
  </div>
</div>
<!-- Right answer dialog box -->
<div class="modal fade" id="rightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= success_title.sample %></h4>
      </div>
      <div class="modal-body">
      	<img src="/<%= pick_a_pup.sample %>-332x363.jpg" height="167">
      	<%= success_message.sample %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success" href="/welcome/oneless" role="button">Do another one</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-4">
		<img src="/Ryder_PNG_2.png" height="296px"/>
	</div>
	<div class="col-md-8">
		<div class="card card-block text-center">
		  <h3 class="card-title">What is <i>one less</i> than <%= answer %>?</h3>
		  <div class="card-footer">
				<% numbers.each { |number| 
					if number == answer then
					%>
					<a href="#" class="card-link" data-toggle="modal" data-target="#rightModal"><%= words[number-1] %></a>
				<% else %>
					<a href="#" class="card-link" data-toggle="modal" data-target="#wrongModal"><%= words[number] %></a>
				<% end 
				} %>
			</div>
		</div>
	</div>
</div>